<div class="contact">
    <div class="contact-background" [style.background-image]="departBackground">
        <div class="overlay"></div>
        <div class="contact-head">
            <div>
                <h2>Stay in Touch</h2>
                <p>Stay connected even from a faw with Morgana hospital</p>
            </div>
        </div>
    </div>
</div>


<div class="message-card">
    <div class="message-form">
        <div class="detail">
            <div class="content">
                <h1>Morgana Hospital</h1>
                <span>
                    <mat-icon>location_on</mat-icon>123 havendale cresent
                </span>
                <span>
                    <mat-icon>mail</mat-icon>MorganaHospital@gmail.com
                </span>
                <span>
                    <mat-icon>phone</mat-icon>(876) 842-7815
                </span>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fas fa-envelope"></i>
            </div>
            <div class="message-image">
                <img src="../assets/images/hospital.jpg" alt="">
            </div>
        </div>
        <div class="contact-form">
            <form action="">
                <h2>Send us your feedback - We Value your opinion</h2>
                <div>
                    <input type="text" placeholder="Firstname">
                    <input type="text" placeholder="Lastname">
                </div>

                <div>
                    <input type="text" placeholder="E-mail">
                    <input type="text" placeholder="Phone">
                </div>

                <div>
                    <input type="text" class="subject" placeholder="Subject">

                </div>

                <label for="">Message</label>
                <textarea name="" id="" cols="73" rows="6"></textarea>


                <button mat-button>
                    Send
                    <mat-icon>send</mat-icon>
                </button>
            </form>
        </div>
    </div>
</div>


<div class="newsletter">
    <div class="content">
        <div>
            <h2>Stay in touch</h2>
            <p>Subscribe to our newsletter and we'll keep you informed about new projects</p>
            <input type="text" placeholder="Your email">
        </div>

    </div>

    <div class="map">
        <img src="../assets/images/map.png" alt="">
    </div>


</div>