<div class="about">
    <div class="about-background" [style.background-image]="heroBackground">
        <div class="about-head">
            <h2>About Morgana</h2>
            <p>we know it and I think you should too</p>
        </div>
    </div>
    <div class="about-intro point-af">
        <div class="content">
            <p>At Morgana We believe in putting our patients first regaurdless of the circumstances everyone should
                recieve health care. It matters not of your Racial, political or social background, we accept everyone
                that is willing to seek mediacal attention. Our doctors are top of the line and shows the outmost
                compassion when traeting patients we Ensure your in good care with anyone of them so Welcome to Morgana
                hospital Where "our Specialty is you"</p>
        </div>
    </div>

    <div class="about-content">
        <div class="founding">
            <div class="founding-image">
                <img src="../assets/images/ceo.jpg" alt="">

            </div>
            <div class="founding-content">
                <h2>Our Founding</h2>
                <p>
                <p>Morgana is a hospital located in St Peters Drive, St Andrew. The health care institution was founded
                    in
                    1982 by Joan Osborn.
                    Morgana hospital has over three decades of experience in the healthcare sector, and is known for
                    providing quality healthcare and valuable experience to all domestic and international patients. Our
                    healthcare offerings are supported by a team of compassionate and dedicated medical professionals
                    who
                    have rich knowledge and experience in their respective domains.
                </p>
            </div>
        </div>

        <div class="mission point-af">

            <div class="mission-content point-af">
                <h2>Our Mission</h2>
                <p>Doing The best We can to provide The best possible Healthcare for our patients. Using top of the rate
                    facilities and expertise to ensure that every patient is satisfy and properly treated. We consider
                    it a
                    privelage to me able to help because the health of a people is one of the outmost important things
                    in a
                    society </p>
            </div>
            <div class="mission-image">
                <img src="../assets/images/mission.jpg" alt="">

            </div>
        </div>

        <div class="approach">
            <div class="approach-image">
                <img src="../assets/images/approach.jpg" alt="">

            </div>
            <div class="approach-content">
                <h2>Our Approach</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia vitae ipsam blanditiis alias sit!
                    Odit
                    a explicabo nam officiis repellendus, placeat sequi atque optio sed, deserunt dicta, ex non
                    quisquam.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, molestias nemo. Itaque magni
                    culpa,
                    molestiae assumenda facilis ut mollitia libero reprehenderit et! Commodi soluta velit voluptatem
                    quasi
                    dolore sapiente et?
                </p>
            </div>
        </div>

        <div class="process ">

            <div class="process-content point-af">
                <h2>Our Process</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia vitae ipsam blanditiis alias sit!
                    Odit
                    a explicabo nam officiis repellendus, placeat sequi atque optio sed, deserunt dicta, ex non
                    quisquam.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, molestias nemo. Itaque magni
                    culpa,
                    molestiae assumenda facilis ut mollitia libero reprehenderit et! Commodi soluta velit voluptatem
                    quasi
                    dolore sapiente et?
                </p>
            </div>
            <div class="process-image">
                <img src="../assets/images/process.jpg" alt="">

            </div>
        </div>
        <div class="origin">
            <div class="content point-af">
                <h2>Where Does The Name Morgana Come From?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium voluptatibus vel culpa
                    veritatis
                    possimus sequi assumenda maxime error quibusdam vitae laborum fuga ipsa, sint perspiciatis itaque ex
                    aliquid, et nemo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eligendi
                    repudiandae
                    reprehenderit nulla molestias veritatis ut nemo quaerat culpa, unde obcaecati voluptatum fugit
                    aliquam
                    nesciunt nostrum consequuntur illum corporis beatae? lor Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Ratione quam autem eum nulla porro et sed veritatis ducimus, voluptatibus, quas
                    laudantium quibusdam. Sequi distinctio neque facilis consequuntur quis, architecto rem?</p>
            </div>
        </div>
    </div>
</div>