<footer>
    <div class="contact">
        <span><img src="../assets/logos/Morgana-logo.png" alt=""></span>
        <span>
            <mat-icon>location_on</mat-icon>123 havendale cresent
        </span>
        <span>
            <mat-icon>mail</mat-icon>Morgana High@gmail.com
        </span>
        <span>
            <mat-icon>phone</mat-icon>(876) 842-7815
        </span>
        <i>
            <mat-icon>facebook</mat-icon>
        </i>
        <i>
            <mat-icon>email</mat-icon>
        </i>
        <i>
            <mat-icon>next_week</mat-icon>
        </i>
        <i>
            <mat-icon>access_alarm</mat-icon>
        </i>
    </div>

    <div class="links">
        <h2>Useful links</h2>
        <span>
            <mat-icon>arrow_right</mat-icon> About the School
        </span>
        <span>
            <mat-icon>arrow_right</mat-icon>Morgana University
        </span>
        <span>
            <mat-icon>arrow_right</mat-icon>Club Activities
        </span>
        <span>
            <mat-icon>arrow_right</mat-icon>Client User Account
        </span>
        <span>
            <mat-icon>arrow_right</mat-icon>Our support Forum
        </span>
        <span>
            <mat-icon>arrow_right</mat-icon>Our Help Center
        </span>
    </div>
    <div class="services">
        <h2>Services</h2>
        <span>
            <mat-icon>arrow_right</mat-icon>To notch education
        </span>
        <span>
            <mat-icon>arrow_right</mat-icon>Operation Theater
        </span>
        <span>
            <mat-icon>arrow_right</mat-icon>Swiming lessons
        </span>
        <span>
            <mat-icon>arrow_right</mat-icon>Counciling
        </span>
        <span>
            <mat-icon>arrow_right</mat-icon>Our support Forum
        </span>
        <span>
            <mat-icon>arrow_right</mat-icon>Pharmacy Service
        </span>
    </div>
    <div class="news">
        <h2>Latest news</h2>
        <div class="content">
            <div class="img">
                <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80"
                    alt="">
            </div>
            <div class="text">
                <p>Lorem ipsum dolor sit amet consectetur</p>
                <span>25 feb 2021</span>
            </div>
        </div>
        <div class="content">
            <div class="img">
                <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80"
                    alt="">
            </div>
            <div class="text">
                <p>Lorem ipsum dolor sit amet consectetur</p>
                <span>25 feb 2021</span>
            </div>
        </div>
        <div class="content">
            <div class="img">
                <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80 "
                    alt="">
            </div>
            <div class="text">
                <p>Lorem ipsum dolor sit amet consectetur</p>
                <span>25 feb 2021</span>
            </div>
        </div>


    </div>
</footer>
<div class="copy">
    <label for="">©Copyright 2021 | all rights reserved</label>
</div>