<div class="welcome">
    <div class="overlay"></div>
    <video autoplay loop muted>
        <source src="../assets/videos/welcome2.mp4" type="video/mp4">
        <source src="../assets/videos/welcome2.ogg" type="video/ogg" />
    </video>

    <div class="welcome-msg">
        <h2><span>Welcome</span> to</h2>
        <h3>Morgana <span>Hospital</span></h3>
        <p>Where we offer the best medical Services at a reasonable cost</p>
        <button class="appoint" mat-button>Book Appointment</button>
        <button class="learn" mat-button>Learn More</button>
    </div>
</div>
<div class="hours">
    <i class="fa fa-ambulance"></i>
    <div class="award">
        <label>Around the clock</label>
        <span> Ambulance Services</span>
    </div>


    <i class="fa fa-users"></i>
    <div class="doctors">
        <label>3425</label>
        <span>Members of staff</span>
    </div>

    <i class="fas fa-medkit"></i>
    <div class="service">
        <label>24/7</label>
        <span> Rescue Services</span>
    </div>

    <i class="fas fa-donate"></i>
    <div class="ratings">
        <label>Make a Donation</label>
        <span> call: (876) 854-3217</span>
    </div>

</div>