<div class="profile">
    <div class="profile-background" [style.background-image]="chartBackground">
        <div class="overlay"></div>
        <div class="heading">
            <h1>My Chart</h1>

        </div>
    </div>

    <div class="chart">
        <div class="profileCard">
            <div class="profileImg">
                <img src="../assets/images/profile.png" alt="">
            </div>
            <div class="profile-details">
                <h2>Patient's Appoinment Manager</h2>

                <div class="info">
                    <p>A Place where you can view the appointments you've booked, modify and Delete them or add more if
                        necessary</p>
                </div>
                <button mat-button [routerLink]="['/appoint']">Book Another</button>

            </div>
        </div>

    </div>
    <div class="container">
        <h2 class="table-head">Appointment Details</h2>
        <div>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>

                    <!-- ID Column -->
                    <ng-container matColumnDef="firstname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Firstname</th>
                        <td mat-cell *matCellDef="let row"> {{row.fname}} </td>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="lastname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Lastname</th>
                        <td mat-cell *matCellDef="let row"> {{row.lname}}</td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                    </ng-container>

                    <!-- Fruit Column -->
                    <ng-container matColumnDef="number">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile Number </th>
                        <td mat-cell *matCellDef="let row"> {{row.mobile}} </td>
                    </ng-container>

                    <ng-container matColumnDef="dob">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of birth</th>
                        <td mat-cell *matCellDef="let row"> {{row.dob|date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
                        <td mat-cell *matCellDef="let row"> {{row.address}} </td>
                    </ng-container>

                    <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender</th>
                        <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
                    </ng-container>
                    <ng-container matColumnDef="department">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
                        <td mat-cell *matCellDef="let row"> {{row.department}} </td>
                    </ng-container>
                    <ng-container matColumnDef="message">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Message</th>
                        <td mat-cell *matCellDef="let row"> {{row.message}} </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                        <td mat-cell *matCellDef="let row">
                            <button (click)="editAppointment(row)"
                                [ngStyle]="{'color':'blue','border':'none','background-color':'transparent','cursor':'pointer'}">
                                <img src="../assets/svgs/edit.png" width="25px" alt="">
                            </button>
                            <button (click)="deleteAppointment(row.id)"
                                [ngStyle]="{'color':'red','border':'none','background-color':'transparent','cursor':'pointer'}">
                                <img src="../assets/svgs/delete.png" width="25px" alt="">
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->

                </table>

                <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->
            </div>
        </div>


    </div>
</div>



<div class="end-background">
    <div class="message-image">
        <img src="../assets/svgs/sticker.png" alt="">
    </div>

    <div class="message">
        <h1>Meeting the needs of patients</h1>

    </div>
</div>