<div class="depart">
    <div class="depart-background" [style.background-image]="departBackground">
        <div class="overlay"></div>
        <div class="depart-head">
            <h2>Morgana Department & Services</h2>

        </div>
    </div>


    <div class="depart-banner">
        <p>Morgana offers an array of departments for a particular Service</p>
        <img src="../assets/svgs/staff.png" alt="">
    </div>
    <div class="departments" *ngFor="let info of departInfo">
        <div class="departInfo">
            <div class="departInfo-image">
                <img src="{{info.mainImg}}" alt="">
            </div>
            <div class="departInfo-content">
                <h2>{{info.department}}</h2>
                <span>{{info.estDate}}</span>
                <p>{{info.des}}</p>

                <button mat-button>LEARN MORE</button>
            </div>


        </div>

        <h2 class="department-ex">{{info.cardHead}}</h2>
        <div class="accomplish-dept">
            <div class="second hero">
                <img class="hero-profile-img" src="{{info.cardImg1}}" alt="">
                <div class="hero-description-bk"></div>
                <div class="hero-logo">
                    <img src="{{info.iconImg1}}" alt="">
                </div>
                <div class="hero-description">
                    <h2>{{info.cardTitle1}}</h2>
                    <p>{{info.cardDes1}}</p>
                </div>
                <div class="hero-date">
                    <p>{{info.cardDate1}}</p>
                </div>
                <div class="hero-btn">
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="second hero">
                <img class="hero-profile-img" src="{{info.cardImg2}}" alt="">
                <div class="hero-description-bk"></div>
                <div class="hero-logo">
                    <img src="{{info.iconImg2}}" alt="">
                </div>
                <div class="hero-description">
                    <h2>{{info.cardTitle2}}</h2>
                    <p>{{info.cardDes2}}</p>
                </div>
                <div class="hero-date">
                    <p>{{info.cardDate2}}</p>
                </div>
                <div class="hero-btn">
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="second hero">
                <img class="hero-profile-img" src="{{info.cardImg3}}" alt="">
                <div class="hero-description-bk"></div>
                <div class="hero-logo">
                    <img src="{{info.iconImg3}}" alt="">
                </div>
                <div class="hero-description">
                    <h2>{{info.cardTitle3}}</h2>
                    <p>{{info.cardDes3}}</p>
                </div>
                <div class="hero-date">
                    <p>{{info.cardDate3}}</p>
                </div>
                <div class="hero-btn">
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>

        <div class="end-background">
            <div class="message-image">
                <img src="../assets/svgs/sticker.png" alt="">
            </div>

            <div class="message">
                <h1>Thank You For Choosing Morgana</h1>

            </div>
        </div>
    </div>