<div class="depart">
    <div class="depart-background" [style.background-image]="departBackground">
        <div class="overlay"></div>
        <div class="depart-head">
            <h2>Morgana Department & Services</h2>

        </div>
    </div>


    <div class="depart-banner">
        <p>Morgana offers an array of departments for a particular Service</p>
        <img src="../assets/svgs/staff.png" alt="">
    </div>
    <div class="departments" *ngFor="let info of departInfo">
        <div class="departInfo">
            <div class="departInfo-image">
                <img src="{{info.mainImg}}" alt="">
            </div>
            <div class="departInfo-content">
                <h2>{{info.department}}</h2>
                <span>{{info.estDate}}</span>
                <p>{{info.des}}</p>

                <button mat-button>LEARN MORE</button>
            </div>


        </div>

        <h2 class="department-ex">{{info.cardHead}}</h2>
        <div class="accomplish-dept">
            <div class="second hero">
                <img class="hero-profile-img" src="{{info.cardImg1}}" alt="">
                <div class="hero-description-bk"></div>
                <div class="hero-logo">
                    <img src="{{info.iconImg1}}" alt="">
                </div>
                <div class="hero-description">
                    <h2>{{info.cardTitle1}}</h2>
                    <p>{{info.cardDes1}}</p>
                </div>
                <div class="hero-date">
                    <p>{{info.cardDate1}}</p>
                </div>
                <div class="hero-btn">
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="second hero">
                <img class="hero-profile-img" src="{{info.cardImg2}}" alt="">
                <div class="hero-description-bk"></div>
                <div class="hero-logo">
                    <img src="{{info.iconImg2}}" alt="">
                </div>
                <div class="hero-description">
                    <h2>{{info.cardTitle2}}</h2>
                    <p>{{info.cardDes2}}</p>
                </div>
                <div class="hero-date">
                    <p>{{info.cardDate2}}</p>
                </div>
                <div class="hero-btn">
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="second hero">
                <img class="hero-profile-img" src="{{info.cardImg3}}" alt="">
                <div class="hero-description-bk"></div>
                <div class="hero-logo">
                    <img src="{{info.iconImg3}}" alt="">
                </div>
                <div class="hero-description">
                    <h2>{{info.cardTitle3}}</h2>
                    <p>{{info.cardDes3}}</p>
                </div>
                <div class="hero-date">
                    <p>{{info.cardDate3}}</p>
                </div>
                <div class="hero-btn">
                    <a href="#">Read More</a>
                </div>
            </div>

            <!-- <div class="second hero">
                <img class="hero-profile-img" src="../assets/images/lung.jpg" alt="">
                <div class="hero-description-bk"></div>
                <div class="hero-logo">
                    <img src="../assets/svgs/lung.png" alt="">
                </div>
                <div class="hero-description">
                    <h2>Lung Surgery</h2>
                    <p>On this Date we perform an advance heart transplant for a young boy. Their where a few
                        complications
                        but it was an overall success </p>
                </div>
                <div class="hero-date">
                    <p>20.02.2019</p>
                </div>
                <div class="hero-btn">
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="second hero">
                <img class="hero-profile-img" src="../assets/images/neuro.jpg" alt="">
                <div class="hero-description-bk"></div>
                <div class="hero-logo">
                    <img src="../assets/svgs/neuro.png" alt="">
                </div>
                <div class="hero-description">
                    <h2>Neuro Surgery</h2>
                    <p>On this Date we perform an advance heart transplant for a young boy. Their where a few
                        complications
                        but it was an overall success </p>
                </div>
                <div class="hero-date">
                    <p>20.02.2019</p>
                </div>
                <div class="hero-btn">
                    <a href="#">Read More</a>
                </div>
            </div>
        </div> -->

        </div>




        <!-- <div class="cancer">

            <div class="cancer-image">
                <img src="../assets/images/cancer.jpg" alt="">
            </div>
            <div class="cancer-content">
                <h2>Cancer Treatment Department (CTD)</h2>
                <span>Est. Feb. 1932</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime perferendis, odio voluptatibus
                    doloribus
                    voluptatum quidem, rem fugit voluptates sapiente dolore repellat praesentium alias reprehenderit
                    fuga
                    amet sunt? Sit, placeat quos.</p>

                <button mat-button>LEARN MORE</button>
            </div>


        </div>
        <h2 class="department-ex">Cancer Treatment Methods</h2>
        <div class="treatment-methods">
            <div class="second hero">
                <img class="hero-profile-img" src="../assets/images/chemo.jpg" alt="">
                <div class="hero-description-bk"></div>
                <div class="hero-logo">
                    <img src="../assets/svgs/chemo.png" alt="">
                </div>
                <div class="hero-description">
                    <h2>Chemotherapy</h2>
                    <p>On this Date we perform an advance heart transplant for a young boy. Their where a few
                        complications
                        but it was an overall success </p>
                </div>
                <div class="hero-date">
                    <p>20.02.2019</p>
                </div>
                <div class="hero-btn">
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="second hero">
                <img class="hero-profile-img" src="../assets/images/marrow.jpg" alt="">
                <div class="hero-description-bk"></div>
                <div class="hero-logo">
                    <img src="../assets/svgs/marrow.png" alt="">
                </div>
                <div class="hero-description">
                    <h2>Marrow Transplant</h2>
                    <p>On this Date we perform an advance heart transplant for a young boy. Their where a few
                        complications
                        but it was an overall success </p>
                </div>
                <div class="hero-date">
                    <p>20.02.2019</p>
                </div>
                <div class="hero-btn">
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="second hero">
                <img class="hero-profile-img" src="../assets/images/harmone.jpg" alt="">
                <div class="hero-description-bk"></div>
                <div class="hero-logo">
                    <img src="../assets/svgs/harmone.png" alt="">
                </div>
                <div class="hero-description">
                    <h2>Harmone therapy</h2>
                    <p>On this Date we perform an advance heart transplant for a young boy. Their where a few
                        complications
                        but it was an overall success </p>
                </div>
                <div class="hero-date">
                    <p>20.02.2019</p>
                </div>
                <div class="hero-btn">
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>

        <div class="dental">

            <div class="dental-image">
                <img src="../assets/images/chief-dental.jpg" alt="">
            </div>
            <div class="dental-content">
                <h2>Dental Care</h2>
                <span>Est. Feb. 1932</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime perferendis, odio voluptatibus
                    doloribus
                    voluptatum quidem, rem fugit voluptates sapiente dolore repellat praesentium alias reprehenderit
                    fuga
                    amet sunt? Sit, placeat quos.</p>

                <button mat-button>LEARN MORE</button>
            </div>


        </div>

        <h2 class="department-ex">Dental Services</h2>
        <div class="dental-service">
            <div class="second hero">
                <img class="hero-profile-img" src="../assets/images/clean.jpeg" alt="">
                <div class="hero-description-bk"></div>
                <div class="hero-logo">
                    <img src="../assets/svgs/clean.png" alt="">
                </div>
                <div class="hero-description">
                    <h2>Teeth Cleaning</h2>
                    <p>On this Date we perform an advance heart transplant for a young boy. Their where a few
                        complications
                        but it was an overall success </p>
                </div>
                <div class="hero-date">
                    <p>20.02.2019</p>
                </div>
                <div class="hero-btn">
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="second hero">
                <img class="hero-profile-img" src="../assets/images/extration.jpg" alt="">
                <div class="hero-description-bk"></div>
                <div class="hero-logo">
                    <img src="../assets/svgs/extraction.png" alt="">
                </div>
                <div class="hero-description">
                    <h2>Tooth Extraction</h2>
                    <p>On this Date we perform an advance heart transplant for a young boy. Their where a few
                        complications
                        but it was an overall success </p>
                </div>
                <div class="hero-date">
                    <p>20.02.2019</p>
                </div>
                <div class="hero-btn">
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="second hero">
                <img class="hero-profile-img" src="../assets/images/braces.jpeg" alt="">
                <div class="hero-description-bk"></div>
                <div class="hero-logo">
                    <img src="../assets/svgs/braces.png" alt="">
                </div>
                <div class="hero-description">
                    <h2>Harmone therapy</h2>
                    <p>On this Date we perform an advance heart transplant for a young boy. Their where a few
                        complications
                        but it was an overall success </p>
                </div>
                <div class="hero-date">
                    <p>20.02.2019</p>
                </div>
                <div class="hero-btn">
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>


        <div class="radiology">
            <div class="radiology-image">
                <img src="../assets/images/chief-radio.jpg" alt="">
            </div>
            <div class="radiology-content">
                <h2>Department Of Radiology</h2>
                <span>Est. Feb. 1932</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime perferendis, odio voluptatibus
                    doloribus
                    voluptatum quidem, rem fugit voluptates sapiente dolore repellat praesentium alias reprehenderit
                    fuga
                    amet sunt? Sit, placeat quos.</p>

                <button mat-button>LEARN MORE</button>
            </div>


        </div>

        <h2 class="department-ex">Methods of Radiography</h2>
        <div class="radio-service">
            <div class="second hero">
                <img class="hero-profile-img" src="../assets/images/mri.jpg" alt="">
                <div class="hero-description-bk"></div>
                <div class="hero-logo">
                    <img src="../assets/svgs/mri.png" alt="">
                </div>
                <div class="hero-description">
                    <h2 [ngStyle]="{'font-size':'18px'}">Magnetic Resonance Imaging</h2>
                    <p>On this Date we perform an advance heart transplant for a young boy. Their where a few
                        complications
                        but it was an overall success </p>
                </div>
                <div class="hero-date">
                    <p>20.02.2019</p>
                </div>
                <div class="hero-btn">
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="second hero">
                <img class="hero-profile-img" src="../assets/images/xray.jpg" alt="">
                <div class="hero-description-bk"></div>
                <div class="hero-logo">
                    <img src="../assets/svgs/xray.png" alt="">
                </div>
                <div class="hero-description">
                    <h2>X-Ray</h2>
                    <p>On this Date we perform an advance heart transplant for a young boy. Their where a few
                        complications
                        but it was an overall success </p>
                </div>
                <div class="hero-date">
                    <p>20.02.2019</p>
                </div>
                <div class="hero-btn">
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="second hero">
                <img class="hero-profile-img" src="../assets/images/ultra.jpg" alt="">
                <div class="hero-description-bk"></div>
                <div class="hero-logo">
                    <img src="../assets/svgs/ultra.png" alt="">
                </div>
                <div class="hero-description">
                    <h2>Ultra Sound</h2>
                    <p>On this Date we perform an advance heart transplant for a young boy. Their where a few
                        complications
                        but it was an overall success </p>
                </div>
                <div class="hero-date">
                    <p>20.02.2019</p>
                </div>
                <div class="hero-btn">
                    <a href="#">Read More</a>
                </div>
            </div>

        </div>

        <div class="nursing">
            <div class="nursing-image">
                <img src="../assets/images/chief-nurse.jpg" alt="">
            </div>
            <div class="nursing-content">
                <h2>Department Of Nursing</h2>
                <span>Est. Feb. 1932</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime perferendis, odio voluptatibus
                    doloribus
                    voluptatum quidem, rem fugit voluptates sapiente dolore repellat praesentium alias reprehenderit
                    fuga
                    amet sunt? Sit, placeat quos.</p>

                <button mat-button>LEARN MORE</button>
            </div>

        </div>

        <h2 class="department-ex">Types of Nurse Available</h2>
        <div class="nurse-types">
            <div class="second hero">
                <img class="hero-profile-img" src="../assets/images/er.jpg" alt="">
                <div class="hero-description-bk"></div>
                <div class="hero-logo">
                    <img src="../assets/svgs/er.png" alt="">
                </div>
                <div class="hero-description">
                    <h2>ER Nurses</h2>
                    <p>On this Date we perform an advance heart transplant for a young boy. Their where a few
                        complications
                        but it was an overall success </p>
                </div>
                <div class="hero-date">
                    <p>20.02.2019</p>
                </div>
                <div class="hero-btn">
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="second hero">
                <img class="hero-profile-img" src="../assets/images/family-nurse.jpg" alt="">
                <div class="hero-description-bk"></div>
                <div class="hero-logo">
                    <img src="../assets/svgs/family-nurse.png" alt="">
                </div>
                <div class="hero-description">
                    <h2>Family Nurse</h2>
                    <p>On this Date we perform an advance heart transplant for a young boy. Their where a few
                        complications
                        but it was an overall success </p>
                </div>
                <div class="hero-date">
                    <p>20.02.2019</p>
                </div>
                <div class="hero-btn">
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="second hero">
                <img class="hero-profile-img" src="../assets/images/pediatric.jpg" alt="">
                <div class="hero-description-bk"></div>
                <div class="hero-logo">
                    <img src="../assets/svgs/pediatric.png" alt="">
                </div>
                <div class="hero-description">
                    <h2>Pedatric Nurse</h2>
                    <p>On this Date we perform an advance heart transplant for a young boy. Their where a few
                        complications
                        but it was an overall success </p>
                </div>
                <div class="hero-date">
                    <p>20.02.2019</p>
                </div>
                <div class="hero-btn">
                    <a href="#">Read More</a>
                </div>
            </div> -->
    </div>

    <div class="end-background">
        <div class="message-image">
            <img src="../assets/svgs/sticker.png" alt="">
        </div>

        <div class="message">
            <h1>Thank You For Choosing Morgana</h1>

        </div>
    </div>