<div class="form">
    <div class="form-image" [style.background-image]="logformBackground">
        <div class="overlay"></div>
        <div class="heading">
            <h2>Morgana Hospital</h2>
            <p>Our specialty is You</p>
        </div>

    </div>
    <!-- 
    <div class="error-msg" *ngIf="(f['user'].touched || submitted)">
        <mat-error class="mat-error" *ngIf="f['user'].errors?.['required']">
            <mat-icon class="error-icon">error</mat-icon> Choose a Gmail address
        </mat-error>
        <mat-error *ngIf="f['user'].errors?.['minlength'] || f['user'].errors?.['maxlength']">
            <mat-icon class="error-icon">error</mat-icon>Username
            must be between 6 to 40 chracters
            long
        </mat-error>

    </div> -->
    <form class="form-reactive" [formGroup]="loginForm" action="" (ngSubmit)="onSubmit()">
        <h1>Login Form</h1>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input type="text" formControlName="username2" name="username2" matInput placeholder="Placeholder">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <mat-error *ngIf="loginForm.get('username2')?.touched || submitted">
                <mat-error *ngIf="loginForm.get('username2')?.hasError('required')">
                    Username required</mat-error>
                <mat-error *ngIf="loginForm.get('username2')?.hasError('minlength')">
                    Must be atleast 8 characters long</mat-error>
            </mat-error>
            <mat-hint>Enter your username</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" formControlName="email2" name="email2" matInput placeholder="Placeholder">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <mat-hint>Enter a valid email</mat-hint>
            <mat-error *ngIf=" loginForm.get('email2')?.touched || submitted">
                <mat-error *ngIf="loginForm.get('email2')?.hasError('required')">
                    Please Enter your Email Address</mat-error>
                <mat-error *ngIf="loginForm.get('email2')?.hasError('email')">
                    Invalid Email Address</mat-error>
            </mat-error>
        </mat-form-field>
        <div class="account">
            <span>Do not have an account?<a [routerLink]="['/register']">Sign in</a></span>
        </div>
        <div class="submit-btn">
            <button mat-button color="primary">Login</button>
        </div>


    </form>
</div>