<div class="background">
    <div class="form">
        <div class="form-image" [style.background-image]="logformBackground">
            <div class="overlay"></div>
            <div class="heading">
                <h2 [routerLink]="['/']">Morgana Hospital</h2>
                <p>Our specialty is You</p>
            </div>

        </div>

        <form class="form-reactive" [formGroup]="loginForm" action="" (ngSubmit)="logIn()">
            <h1>Login Form</h1>
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input type="text" formControlName="username" name="username" matInput placeholder="Placeholder">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <mat-error
                    *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched || submitted">
                    Username required
                </mat-error>
                <mat-hint>Enter your username</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" formControlName="password" name="password" matInput placeholder="Placeholder">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <mat-hint>Enter Your Password</mat-hint>

                <mat-error
                    *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched || submitted">
                    Please Enter your Password
                </mat-error>


            </mat-form-field>
            <div class="account">
                <span>Do not have an account?<a [routerLink]="['/register']">Sign in</a></span>
            </div>
            <div class="submit-btn">
                <button mat-button color="primary">Login</button>
            </div>


        </form>
    </div>
</div>