form {

    .name {
        display: flex;

        .form-field {

            margin-bottom: 1.2rem;

            mat-form-field {
                width: 15rem;
            }
        }
    }

    .form-field2 {

        mat-form-field {
            width: 33rem;
        }

        textarea {
            height: 4rem;
        }

    }

    // button {
    //     background-color: #0c54ef;
    //     color: white;
    //     padding: .3rem;
    //     width: 200px;
    //     margin-left: 10rem;
    //     margin-bottom: .6rem;
    // }

}